# things to ignore
.DS_Store
.project
.settings
.tags
TAGS
project.properties
deploy.properties
derby.log
*.jar
*.class
*.gz
*.zip
*.jpage
*.iml
*.png
*.tar
*.gz
*.tgz
*.swp
*.pdf
build/
dist/
doc/
lib/
lib_managed/
report/
target/
tmp/
target/
.idea/
.settings/
*.log
.#*
*.jpg
test.log
.metadata/
.ensime*
*.*#
plugged
autoload
